@page
@model BlobModel
@{
    ViewData["Title"] = "Blob Stream Demo";
}
<h1>@ViewData["Title"]</h1>

<cache expires-after="@TimeSpan.FromSeconds(120)">
    Current Time Inside Cache Tag Helper: @DateTime.Now
</cache>

<hr />

<h5>
    Get image from stream
</h5>

<img src="/stream-image/web/5ktwur25ot3d1.jpeg" alt="blob image" />
<br /><br />

<h5>
    Get text content from stream (server-side)
</h5>

@Html.Raw(Model.HtmlContent)

<h5>
    Get text content from stream (client-side)
</h5>

<div id="htmlContent">loading...</div>

@section Scripts{

    <script>
        document.addEventListener('DOMContentLoaded', domContentLoadedHandler);

        async function domContentLoadedHandler() {
            console.log('DOM loaded');
            let htmlContent = document.getElementById('htmlContent');
            try {
                let response = await fetch('/stream-html/web/html-part.html');
                let data = await response.text();
                htmlContent.innerHTML = data;
            } catch (error) {
                console.error('Error fetching HTML content:', error);
            }
        }
    </script>
}